{% extends "xsjzb/base.html" %}
{% load static %}
{% block block_title %}
<title>关于鑫世界</title>
{% endblock %}

{% block block_content %}

<!--内容开始-->
<div class="content_box1">
  <div class="content_box2"> 
    <div class="menu_box">
       <p class="menu_box_title">关于鑫世界<span>About us</span></p>
       <ul class="menu_box1">
          <li><a href="{% url 'guanyuhuaqi' %}">公司简介</a></li>
          <li><a href="{% url 'about_1' %}">企业文化</a></li>
          <li><a href="#">未来发展</a></li>
       </ul>
    </div>
    <div class="content_boxL">
       <div class="content_boxL_nav">
         <p class="content_boxL_nav_title"><b>福州鑫世界珠宝</b></p>
         <div class="content_boxL_nav_R"><a href="">首页 ></a> <a href="">关于鑫世界 ></a><a href=""> 未来发展</a></div>
       </div>
       <div class="content_boxL_text">
         <img class="content_boxL_pic" src="{% static 'images/xsj3.jpeg' %}"/>
           <p>随着社会的发展,无数企业在市场经济的大潮中应运而生,有无数的企业逐渐发展、壮大,综观华为、微软、腾讯、阿里巴巴等世界知名企业,一个显著的特点就是企业非常重视企业文化建设,投入了众多的资源;而企业文化建设又推动了企业高速发展,赢得了更多的利润,从而有效地实现了企业发展与企业文化建设的良性循环。那么企业文化建设要把握哪些重点呢?鑫世界珠宝告诉你这五个要素值得关注。</p>
           <p>一、全员参与,提炼企业文化。
在企业文化建设之初,最容易出现的问题,就是少数人依据自己的意愿,坐在房子里凭空确定企业文化,最终导致企业文化变成了形而上学的文字,既不能体现企业的特点,又没有得到员工的认同。所以在企业文化建设之初,就应该以企业所有者和核心团队为主,提出企业文化建设的方向和总的原则、大的框架,尔后分部门、阶层组织员工开展大讨论,结合企业发展实际、所处行业特点、员工队伍现状、未来发展规划等,对企业文化的核心元素进行梳理提炼,形成企业文化的初稿。
二、反复讨论,确定企业文化。
企业文化的初稿出来后,要由企业文化主导部门牵头,携手企业文化专家,由企业文化专家提供一般模板后,先征求企业领导意见,后发动全体员工讨论修改;再征求领导意见,再发动员工讨论修改;再征求企业文化专家和企业领导意见,再发动员工讨论修改,最后由企业领导和企业文化专家面对面讨论确定的方式,对企业文化相关内容进行反复的讨论修改,以保证企业文化内容科学、合理,具备企业的鲜明特色,充分反映企业的愿景、使命、精神、理念和核心价值观。在这个过程中,一些企业容易出现没有主导部门负责,完全交由专业机构承办,从而导致企业文化内容没有充分反映本企业的特色的问题;一些企业容易出现只重领导意见,轻视员工意见,导致企业文化内容员工看不懂或不能理解的问题;一些企业容易出现缺乏企业文化专家主导把关,导致企业文化内容不全面、不周密、不系统的问题。
               三、全员学习,抓好普及传承。
企业文化确定后,要通过各种措施抓好企业文化的宣传、培训,通过各种案例树立企业文化的权威性。如可以组织企业文化知识的全员考试,通过下发企业文化电子书,引导员工利用业余时间自主学习企业文化知识,对考试中涌现出来的学习扎实、考试得分较高的员工,给予相应的奖励;对考试不过关的员工,采取重点辅导、集中培训等方式,予以专门培训,确保人人过关。也可以组织企业文化知识辩论赛、演讲比赛、征文比赛等方式,调动员工学习企业文化知识的积极性。同时,要结合企业文化学习、培训,在企业内组织开展全员发现、推荐身边践行企业文化好人好事的活动,引导员工不仅要学习企业文化的内容,更要依据企业文化自主发现身边的好人好事,推荐身边的优秀典型。尔后,企业对涌现出来的各种典型人物、团队和案例,予以大张旗鼓的表彰奖励,让优秀典型成为公司最耀眼的明星,成为全体员工学习的榜样。
四、制度牵引,确保文化落地。
各类活动可以帮助员工学习、了解、掌握企业文化的相关内容,但要保证企业文化发挥长效作用,必须发挥制度杠杆的作用,依据企业文化对企业的所有制度规定进行梳理,对违背企业文化的内容予以坚决清理;对企业文化倡导的内容纳入企业制度,予以相应的奖惩激励;对制度无法明确的内容,依据企业文化给予方向性的规定,通过制度使企业文化由虚变实,为企业文化落地提供强有力的支撑,切实帮助全体员工养成凡事依据企业文化的行为习惯,确保企业文化不仅贴在墙上、写在本上、说在嘴上,更要融入头脑,转化为行动。要通过培训宣导、标杆示范、仪式强化、互动参与和机制保障,形成人人学习企业文化、事事遵从企业文化、全员落实企业文化的良好氛围。
五、突出领导,强调率先垂范。
企业文化有没有力量,是否可以落实,除了制度的规范,最重要的就是领导的表率作用。因为企业文化对员工来说,最开始的印象只是一些文字,他们更关注领导是如何说的,如何做的。如果企业文化强调勤俭节约,但企业领导天天铺张浪费,花钱大手大脚,则员工自然也就不会做到勤俭节约了。如果企业文化说要一切向市场一线聚焦,做好服务保障工作,但企业领导天天在办公室坐等文件,拖延审批,最终导致市场急需的资源无法得到保障,那么员工只会认为企业文化是虚的、假的,只是一些说说的文字而已。所以作为企业领导,首先要有做好践行企业文化表率的自觉,用自身的表率行为影响员工;同时企业要由企业文化主导部门牵头,策划、开展一系列的企业领导宣讲、践行企业文化的活动,拉近领导与员工的距离,让更多的员工可以看到企业领导践行企业文化的实际行动,以领导的率先垂范,团结带领全体员工,在企业内营造齐心协作、团结协作、聚精会神学习、贯彻、落实、践行企业文化的良好氛围。

           三、全员学习,抓好普及传承。

企业文化确定后,要通过各种措施抓好企业文化的宣传、培训,通过各种案例树立企业文化的权威性。如可以组织企业文化知识的全员考试,通过下发企业文化电子书,引导员工利用业余时间自主学习企业文化知识,对考试中涌现出来的学习扎实、考试得分较高的员工,给予相应的奖励;对考试不过关的员工,采取重点辅导、集中培训等方式,予以专门培训,确保人人过关。也可以组织企业文化知识辩论赛、演讲比赛、征文比赛等方式,调动员工学习企业文化知识的积极性。同时,要结合企业文化学习、培训,在企业内组织开展全员发现、推荐身边践行企业文化好人好事的活动,引导员工不仅要学习企业文化的内容,更要依据企业文化自主发现身边的好人好事,推荐身边的优秀典型。尔后,企业对涌现出来的各种典型人物、团队和案例,予以大张旗鼓的表彰奖励,让优秀典型成为公司最耀眼的明星,成为全体员工学习的榜样。

四、制度牵引,确保文化落地。

各类活动可以帮助员工学习、了解、掌握企业文化的相关内容,但要保证企业文化发挥长效作用,必须发挥制度杠杆的作用,依据企业文化对企业的所有制度规定进行梳理,对违背企业文化的内容予以坚决清理;对企业文化倡导的内容纳入企业制度,予以相应的奖惩激励;对制度无法明确的内容,依据企业文化给予方向性的规定,通过制度使企业文化由虚变实,为企业文化落地提供强有力的支撑,切实帮助全体员工养成凡事依据企业文化的行为习惯,确保企业文化不仅贴在墙上、写在本上、说在嘴上,更要融入头脑,转化为行动。要通过培训宣导、标杆示范、仪式强化、互动参与和机制保障,形成人人学习企业文化、事事遵从企业文化、全员落实企业文化的良好氛围。

五、突出领导,强调率先垂范。</p>
<p>企业文化有没有力量,是否可以落实,除了制度的规范,最重要的就是领导的表率作用。因为企业文化对员工来说,最开始的印象只是一些文字,他们更关注领导是如何说的,如何做的。如果企业文化强调勤俭节约,但企业领导天天铺张浪费,花钱大手大脚,则员工自然也就不会做到勤俭节约了。如果企业文化说要一切向市场一线聚焦,做好服务保障工作,但企业领导天天在办公室坐等文件,拖延审批,最终导致市场急需的资源无法得到保障,那么员工只会认为企业文化是虚的、假的,只是一些说说的文字而已。所以作为企业领导,首先要有做好践行企业文化表率的自觉,用自身的表率行为影响员工;同时企业要由企业文化主导部门牵头,策划、开展一系列的企业领导宣讲、践行企业文化的活动,拉近领导与员工的距离,让更多的员工可以看到企业领导践行企业文化的实际行动,以领导的率先垂范,团结带领全体员工,在企业内营造齐心协作、团结协作、聚精会神学习、贯彻、落实、践行企业文化的良好氛围。</p>
</p>
       </div>
    </div>
      {% endblock %}
