{% extends "xsjzb/base.html" %}
{% load static %}
{% block block_title %}
<title>关于鑫世界</title>
{% endblock %}

{% block block_content %}

<!--内容开始-->
<div class="content_box1">
  <div class="content_box2"> 
    <div class="menu_box">
       <p class="menu_box_title">关于鑫世界<span>About us</span></p>
       <ul class="menu_box1">
          <li><a href="{% url 'guanyuhuaqi' %}">公司简介</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="{% url 'about_2' %}">未来发展</a></li>
       </ul>
    </div>
    <div class="content_boxL">
       <div class="content_boxL_nav">
         <p class="content_boxL_nav_title"><b>福州鑫世界珠宝</b></p>
         <div class="content_boxL_nav_R"><a href="">首页 ></a> <a href="">关于鑫世界 ></a><a href=""> 企业文化</a></div>
       </div>
       <div class="content_boxL_text">
         <img class="content_boxL_pic" src="{% static 'images/xsj2.jpg' %}"/>
           <p>新时代新产业新气象，在这个风云变幻的时代，不创新就必然落后。鑫世界珠宝福州分部作为互联网金融行业的领先者，不满于现状，坚定创新信念。
“市场活力来自于人，特别是来自于企业家，来自于企业家精神”。企业家精神具有丰富的内涵，包括爱国主义、艰苦奋斗、创新发展、注重品质、勇于担当、敢于担当等，其中最核心的便是创新精神。创新精神是企业家的灵魂。为了紧跟时代步伐，鑫世界珠宝福州分部有限公司坚决大力弘扬企业家创新精神。</p>
           <p>企业创新精神是企业前进发展的动力源泉。鑫世界珠宝福州部分通过不断改善，追求创新发展，能够为平台上的投资者提供更专业的产品规划及更周到的产品服务。专注品质、追求卓越，通过不断打造新产品思维、开发新黄金交易技术、鑫世界珠宝福州分部不断满足投资者们日益增长的投资需求。
推动互联网金融行业发展，需要大力弘扬企业家创新精神。在这个快速发展的互联网新时代，推动高质量发展，实现质量变革、效率变革和动力变革，是中国互联网经济发展的根本要求。“发展是第一要务，人才是第一资源，创新是第一动力”。创新精神才是推动高质量发展的重要力量，是稀缺的特殊‘人才’资源，是创新活动的主要组织者。
弘扬创新精神，鑫世界珠宝福州分部把创新意识内化于心、外化于行。为了提高创新能力，鑫世界珠宝福州分部不断强化创新举措的落实，以创新精神实现平台自我革新。与此同时，鑫世界珠宝福州分部有限公司坚决反对以创新的名义欺骗优惠政策，逃避政府监管，扰乱市场秩序的错误行为，坚定把精力和财力真正投入到搞创新、寻求发展上。
在自我完善的同时，鑫世界珠宝福州分部大力弘扬企业家创新精神，形成全面开放新格局，有力带动了同行业企业发展。通过与在互联网金融企业从事的其他平台交流合作、同台竞争，鑫世界珠宝福州分部逐渐成为业内标杆企业，受到当地有关部门的大力赞扬。
良好的社会发展环境是鑫世界珠宝福州分部有限公司发展的肥沃土壤，也是发扬创新精神的重要保障。在党的有关政策带领下，鑫世界珠宝福州分部立足于新时代，大力弘扬企业家创新精神，努力推动创新发展，必将在互联网金融平台上奏出响亮乐章！</p>
       </div>
    </div>
      {% endblock %}
