{% extends "xsjzb/base.html" %}
{% load static %}
{% block block_title %}
<title>留言板</title>
{% endblock %}

{% block block_content %}

<!--内容开始-->
<div class="content_box1">
  <div class="content_box2"> 
    <div class="menu_box">
       <p class="menu_box_title">留言板<span>Message</span></p>
       <ul class="menu_box1">
          <li><a href="">留言板</a></li>
       </ul>
    </div>
    <div class="content_boxL">
       <div class="content_boxL_nav">
         <p class="content_boxL_nav_title"><b>福州鑫世界珠宝</b></p>
         <div class="content_boxL_nav_R"><a href="">首页 ></a> <a href="">留言板</a></div>                          
       </div>
       <ul class="lyb_box">
         <li class="lyb_box1">
          <p>公司名称：</p> <p>联系人姓名：</p> <p>公司地址：</p> <p>传真：</p> <p>邮箱：</p> <p>留言内容：</p>
         </li>
          <form class="lyb_box2">
           <li><input type="text" value=""/></li>
           <li><input type="text" value=""/></li>
           <li><input type="text" value=""/></li>
           <li><input type="text" value=""/></li>
           <li><input type="text" value=""/></li>
           <li><textarea></textarea></li>
           <li><input type="submit" value="提交" class="submit"/></li>
          </form>
       </ul>
    </div>
      {% endblock %}
