{% extends "xsjzb/base.html" %}
{% load static %}
{% block block_title %}
<title>关于鑫世界</title>
{% endblock %}

{% block block_content %}

<!--内容开始-->
<div class="content_box1">
  <div class="content_box2"> 
    <div class="menu_box">
       <p class="menu_box_title">新闻中心<span>news</span></p>
       <ul class="menu_box1">
          <li><a href="{% url 'gsxw' %}">公司新闻</a></li>
          <li><a href="{% url 'hyxw' %}">行业新闻</a></li>
       </ul>
    </div>
    <div class="content_boxL">
       <div class="content_boxL_nav">
         <p class="content_boxL_nav_title"><b>福州鑫世界珠宝</b></p>
         <div class="content_boxL_nav_R"><a href="{% url 'index' %}">首页 ></a> <a href="">鑫世界珠宝 ></a><a href="#"> 新闻资讯</a></div>
       </div>
       <div class="content_boxL_text">
          <p class="xqy_news_title">{{ blog.title }}<br /><span>发布时间：{{ blog.pub_time|date:"Y-m-d" }}&nbsp;&nbsp; &nbsp;&nbsp;来源：{{ blog.author }}</span></p>
          <img class="news_xqy_pic" src="{% static 'images/xqy_pic1.jpg' %}"/>
          <div class="xqy_news_title1">
              {% autoescape off %}
              <p>{{ blog.content}}</p>
              {% endautoescape %}
          </div> 
       </div>
    </div>
      {% endblock %}
